// FONTS
// $font: "Serif Display", sans-serif;
$font: "Zen Antique", serif;
// $text-font: "Sans Serif", Arial, sans-serif;
$text-font: "Poppins", sans-serif;

// COLORS
$text-color: #fff;
$gold: #fbd784;
$black: #000;
$bg-color: #0b1d26;
// $bg-color: rgb(115, 155, 170);
